# --- MAVEN (Aplica a todas las carpetas semana_*) ---
**/target/
**/.mvn/
*.flattened-pom.xml
classes/

# --- ARCHIVOS TEMPORALES DE JAVA ---
*.class
*.log

# --- ENTORNOS DE DESARROLLO (IDEs) ---
# IntelliJ IDEA
**/.idea/
*.iml
*.iws

# Eclipse
**/.classpath
**/.project
**/.settings/

# Visual Studio Code
**/.vscode/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/